/* styles/Navbar.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.brand-container {
  display: flex;
  align-items: center;
  space-x-5: space-between;
}

.brand-name {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.navbar-toggle {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.navbar-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-top: 1px solid #ddd;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(-10%);
  opacity: 0;
  z-index: 1;
  visibility: hidden;
}

.navbar-menu.active {
  display: flex;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.navbar-item {
  text-decoration: none;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ddd;
}

.theme-switch {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 2rem; /* Increase the font size for a larger button */
  padding: 0.5rem;
}

@media (min-width: 769px) {
  .navbar-toggle {
    display: none;
  }

  .navbar-menu {
    position: static;
    display: flex;
    flex-direction: row;
    opacity: 1;
    visibility: visible;
    border-top: none;
    transform: none;
  }

  .navbar-item {
    border-bottom: none;
  }

  .navbar-theme-switch {
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-menu {
    flex-direction: column;
    background-color: #4c1d95; /* Tailwind purple-800 */
  }
}
